# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [131]:
# import numpy and pandas
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the San Francisco. We will start by loading the dataset and examining its contents.

In [132]:
# Your code here:
data=pd.read_csv('/Users/mojgun/Documents/IRONHACK/Lab/WEEK4/Day3/lab-Hypothesis-Testing/data/Salaries.csv')

/Users/mojgun/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Examine the `salaries` dataset using the `head` function below.

In [133]:
# Your code here:
data.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Get the amount of missing data in every column

In [134]:
# Your code here:
data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

Get the shape of the dataframe

In [135]:
# Your code here
data.shape

(148654, 13)

Given output of the previous two cells, drop the corresponding column and compute again the amount of missing values.

In [136]:
# Your code here
data=data.drop('Notes',axis=1)
data.isna().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Agency                   0
Status              110535
dtype: int64

Check out what are the possible values of the column "Status".

In [137]:
# Your code here
data['Status'].unique()

array([nan, 'PT', 'FT'], dtype=object)

Drop any row with missing values in the "Status" column and compute again the number of missing values.

In [138]:
# Your code here
data=data[data['Status'].isna()==False]

In [139]:
# Your code here
data.isna().sum()

Id                  0
EmployeeName        0
JobTitle            0
BasePay             0
OvertimePay         0
OtherPay            0
Benefits            0
TotalPay            0
TotalPayBenefits    0
Year                0
Agency              0
Status              0
dtype: int64

Check out the types of each column and see if they make sense.

In [140]:
# Your code here
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38119 entries, 110531 to 148653
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                38119 non-null  int64
 1   EmployeeName      38119 non-null  object
 2   JobTitle          38119 non-null  object
 3   BasePay           38119 non-null  object
 4   OvertimePay       38119 non-null  object
 5   OtherPay          38119 non-null  object
 6   Benefits          38119 non-null  object
 7   TotalPay          38119 non-null  float64
 8   TotalPayBenefits  38119 non-null  float64
 9   Year              38119 non-null  int64
 10  Agency            38119 non-null  object
 11  Status            38119 non-null  object
dtypes: float64(2), int64(2), object(8)
memory usage: 3.8+ MB

In [141]:
data.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Agency,Status
148645,148646,Carolyn A Wilson,Human Services Technician,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148647,148648,Joann Anderson,Communications Dispatcher 2,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148648,148649,Leon Walker,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,San Francisco,PT
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,San Francisco,PT

Do any type conversions and reset the index.

In [142]:
# Your code here
data['BasePay'] =  pd.to_numeric(data['BasePay'], errors='coerce')
data['OvertimePay'] =  pd.to_numeric(data['OvertimePay'], errors='coerce')
data['OtherPay'] =  pd.to_numeric(data['OtherPay'], errors='coerce')
data['Benefits'] =  pd.to_numeric(data['Benefits'], errors='coerce')
data=data.reset_index(drop=True)

Check out if "TotalPayBenefits" = "BasePay" + "OvertimePay" + "OtherPay" + "Benefits"

In [143]:
# Your code here
data['TotalPayBenefits']==data['BasePay']+ data['OvertimePay']+data['OtherPay']+data['Benefits']

0         True
1        False
2         True
3        False
4         True
         ...
38114     True
38115     True
38116     True
38117     True
38118     True
Length: 38119, dtype: bool

What is the percetage of employees for which the previous assumption is not True?

In [144]:
# Your code here:
len=data['TotalPayBenefits'].shape[0]
((data['TotalPayBenefits']==data['BasePay']+ data['OvertimePay']+data['OtherPay']+data['Benefits']).value_counts())/len*100

True     73.708649
False    26.291351
dtype: float64

There are different departments in the city. List all departments and the count of employees in each department.

In [145]:
# Your code here:
data.pivot_table(index= ['JobTitle'], values = ['EmployeeName'], aggfunc = ['count']).reset_index()

                           JobTitle        count
                                    EmployeeName
0       ACPO,JuvP, Juv Prob (SFERS)            1
1      ASR Senior Office Specialist           22
2              ASR-Office Assistant           15
3                     Account Clerk           93
4                      Accountant I            2
..                              ...          ...
991      Wire Rope Cable Maint Sprv            1
992      Worker's Comp Supervisor 1            6
993  Worker's Compensation Adjuster           26
994           X-Ray Laboratory Aide           35
995              Youth Comm Advisor            1

[996 rows x 2 columns]

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of **all FT workers is significantly different from $75/hr**. Get first the hourly wage by dividing "TotalPayBenefits" by 50 weeks (assuming 10 labour days of holidays) and by 40hrs (assuming a 40hrs week).

$$Hourly Wage = \frac{TotalPayBenefits}{1 year}\frac{1 year}{50 Week}\frac{1 Week}{40 hr}$$

Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [146]:
# Your code here: (compute the "Hourly_Wage")
data['HourlyWage']=data['TotalPayBenefits']/50/40

In [147]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "FT" employees
import scipy.stats
from scipy.stats import ttest_1samp
len=22334
p_mean=75
s_mean=np.mean((data[data['Status']=="FT"]['HourlyWage']))
std=np.std((data[data['Status']=="FT"]['HourlyWage']),ddof=1)
t=(s_mean-p_mean)/(std/np.sqrt(len))
print(t)

-35.80631941460788

In [261]:
# H01 != $75/hr so we have two sided t is not in range so we reject H0

In [148]:
# Method 1: Critical value. Get the critical value and compare it against your t_statisttic.
# Your code here: 
print(-scipy.stats.norm.ppf(0.05/2))
print(scipy.stats.norm.ppf(0.05/2))

1.9599639845400545
-1.9599639845400545

In [149]:
# Method 2: Use the p-value method.
# Your code here:
scipy.stats.norm.cdf(0.05)

0.5199388058383725

In [150]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:
from scipy.stats import ttest_1samp
stat, pval = ttest_1samp(data[data['Status']=="FT"]['HourlyWage'], popmean = p_mean, alternative = "two-sided")
print(stat)

-35.80631941460526

In [151]:
#data[data["JobTitle"].str.contains("POLICE")]
#data['JobTitle'] = data['JobTitle'].str.lower()

#data[["JobTitle"]]

Are all the methods in agreement?

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are **higher than last year's mean of $86000/year for all salaried employees** (use the column "TotalPayBenefits". Test  hypothesis using a 95% confidence interval.

Hint: Use apply and a lambda function to check in "Police" is in the "JobTitle" to get all the "Police" jobs.

In [263]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider "Police" employees
s_mean=np.mean(data[data["JobTitle"].str.contains("Police")]["TotalPayBenefits"])
p_mean=86000
len=data[data["JobTitle"].str.contains("Police")].shape[0]
std=np.std(data[data["JobTitle"].str.contains("Police")]["TotalPayBenefits"],ddof=1)
t=(s_mean-p_mean)/(std/np.sqrt(len))
print(t)
 # H0 >86k
 # H1 =< 86 K
# t_stat is very bigger than critical value so we Accept the H0

50.252984742109916

In [153]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here: 
scipy.stats.norm.ppf(0.05)

-1.6448536269514729

In [154]:
# Method 2: Use the p-value method.
# Your code here:
scipy.stats.norm.cdf(0.05)

0.5199388058383725

In [264]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
#!pip install -U scipy
# Your code here:
stat, pval = ttest_1samp(data[data["JobTitle"].str.contains("Police")]["TotalPayBenefits"], popmean = p_mean, alternative = "less")

stat

50.252984742109945

The workers from the "JobTitle" with the most employees have complained that their hourly wage is **less than $35/hour**. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [156]:
# Your code here: (Get the department which has most employees)
data1=data.pivot_table(index= ['JobTitle'], values = ['TotalPayBenefits'], aggfunc = ['count']).reset_index()
data1.columns=data1.columns.droplevel(1)
data1.sort_values(by=['count']).tail(1)

             JobTitle  count
938  Transit Operator   2479

In [157]:
# Your code here: (compute the t_statistic). Take into account that this dataset is a sample of a real population.
# Remember that you only need to consider the right "JobTitle" employees
s_mean=np.mean(data[data["JobTitle"].str.contains("Transit Operator")]["HourlyWage"])
p_mean=35
len=data[data["JobTitle"]=="Transit Operator"].shape[0]
std=np.std(data[data["JobTitle"]=="Transit Operator"]["HourlyWage"],ddof=1)
t=(s_mean-p_mean)/(std/np.sqrt(len))
print(t)

19.064990324906553

In [158]:
# Method 1: Critical value. Get the critical value and compare it against your statisttic.
# Your code here: 
-scipy.stats.norm.ppf(0.05)

1.6448536269514729

In [159]:
# Method 2: Use the p-value method.
# Your code here:
scipy.stats.norm.cdf(0.05)

0.5199388058383725

In [160]:
# Method 3: Use the ttest_1samp function from scipy. 
# Check the documentation [here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_1samp.html)
# Make sure that you have a scipy version >=1.6.0. If that's not your case please ugrade your scipy version using
# !pip install -U scipy
# Your code here:
stat, pval = ttest_1samp(data[data["JobTitle"].str.contains("Transit Operator")]["HourlyWage"], popmean = p_mean, alternative = "greater")
stat
# H0 s_mean <35$
# H1 s_mean >=35$
# t_stats is very higher than Critical value so we reject H0

19.064990324906383

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level.

In [161]:
# Method 1: Get the critical values which correspond to a 95% confidence.
# Your code here:
scipy.stats.norm.ppf(0.05)

-1.6448536269514729

Now compute a 95% confidence interval for the hourly salary of all the Police employees.

In [162]:
# Your code here:
import scipy.stats
len=data[data["JobTitle"].str.contains("Police")]["HourlyWage"].shape[0]
confidence_level = 0.95
degrees_freedom = len- 1
sample_standard_error = scipy.stats.sem(data[data["JobTitle"].str.contains("Police")]["HourlyWage"])
sample_mean = np.mean(data[data["JobTitle"].str.contains("Police")]["HourlyWage"])
confidence_interval = scipy.stats.t.interval(confidence_level, 
                                             degrees_freedom, 
                                             sample_mean, 
                                             sample_standard_error)
print("Sample_mean",sample_mean)
print("confidence_interval",confidence_interval)

Sample_mean 74.1745210625985
confidence_interval (72.9578791736444, 75.3911629515526)

# Challenge 4: Chi2 test

Now we want to know if the amount of full time "FT" and part time "PT" employees is equal between Lawers, Meds, Police, Firemen and other departments. 

Considering all the options in this groups of employees will be very time consuming. To simplify this process, create first a function that returns:

* "Policement" if "Police" is found on "JobTitle"
* "Firemen" if "Fire" is found on "JobTitle"
* "Medical" if "Med" or "Nurse" is found on "JobTitle"
* "Lawyer" if "Attorney" is found on "JobTitle"
* "Other" in any other cases

Then, create a new column named "employee_group" that determines to which group belong the employee.

In [180]:
# Your code here: (Use the previous function to create a new column in the dataframe to store the "employee_group"
def change_name(x):
    if "Police" in x:
        return "Policement"
    elif "Fire" in x:
        return "Firemen"
    elif "Nurse" in x:
        return "Medical"
    elif "Med" in x:
        return "Medical"
    elif "Attorney" in x:
        return "Lawyer"
    else:
        return "other"  
data['employee_group']=data['JobTitle'].apply(change_name)

Determine how many "PT" and "FT" employess have all the employees groups.

In [181]:
# Your code here: (Store the output dataframe into a new variable)
data.pivot_table(index= ['employee_group'],columns=['Status'], values = ['EmployeeName'], aggfunc = ['count'])

                      count
               EmployeeName
Status                   FT     PT
employee_group
Firemen                1333    178
Lawyer                  317    102
Medical                1028   2889
Policement             1530    371
other                 18126  12245

Now try compute the expected frequencies doing the calculations with the individual probabilities. Remember that the Chi2 test assumes that both variables (employee_group and FT/PT) are not related (therefore they are independent). Therefore, to compute the expected frequencies you need to compute the probability of each cell and multiply it by the number of observations. ie:

$$\nu(x,y) = p(x,y) * N = p(x) * p(y) * N$$

bear in mind that in general: $p(x,y)\neq p(x)*p(y)$; the equality will only be true if x and y are independent. However, the null hypotheses says that **x and y are independent.** but that's what we're assuming with the null hypotheses.

where "x" is the "employee_group" and "y" the (FT/PT).

In [191]:
# Create an empty dataframe named "frequencies" to store the data.
# Your code here:
frequencies= pd.DataFrame()
frequencies=data.pivot_table(index= ['employee_group'],columns=['Status'], values = ['EmployeeName'], aggfunc = ['count']).reset_index()
frequencies
frequencies.columns=frequencies.columns.droplevel(0)
frequencies.columns=frequencies.columns.droplevel(0)
frequencies = frequencies.rename(columns={'':'name'})
frequencies['total']=frequencies["FT"]+frequencies['PT']
frequencies

Status        name     FT     PT  total
0          Firemen   1333    178   1511
1           Lawyer    317    102    419
2          Medical   1028   2889   3917
3       Policement   1530    371   1901
4            other  18126  12245  30371

In [166]:
# Your code here: Compute Expected frequency of being "Firemen" and "FT". Store the solution in a variable named "firemen_ft"
#ft=frequencies['FT'].iloc[0]
#total=np.sum(frequencies[frequencies["name"]=="Firemen"]["FT"])+np.sum(frequencies[frequencies["name"]=="Firemen"]["PT"])
ft_total=np.sum(frequencies['FT'])
fire_total=frequencies['total'].iloc[0]
total=np.sum(frequencies['total'])
firemen_ft=(ft_total/total)*(fire_total/total)*total
firemen_ft

885.2979878800596

In [204]:
# Your code here: Compute Expected frequency of being "Firemen" and "PT". Store the solution in a variable named "firemen_pt"
firemen_pt=(pt_total/total)*(fire_total/total)*total
firemen_pt

625.7020121199403

In [216]:
# Your code here: Compute Expected frequency of being "Lawyers" and "FT". Store the solution in a variable named "lawyers_ft"
lawyer_total=frequencies['total'].iloc[1]
lawyers_ft=(ft_total/total)*(lawyer_total/total)*total
lawyers_ft

245.49295626852748

In [196]:
# Your code here: Compute Expected frequency of being "Lawyers" and "PT". Store the solution in a variable named "lawyers_pt"
lawyer_total=frequencies['total'].iloc[1]
lawyers_pt=(pt_total/total)*(lawyer_total/total)*total
lawyers_pt

173.5070437314725

In [203]:
# Your code here: Compute Expected frequency of being "Medical" and "FT". Store the solution in a variable named "medical_ft"
medical_total=frequencies['total'].iloc[2]
medical_ft=(ft_total/total)*(medical_total/total)*total
medical_ft

2294.9783047823917

In [205]:
# Your code here: Compute Expected frequency of being "Medical" and "PT". Store the solution in a variable named "medical_pt"
medical_pt=(pt_total/total)*(medical_total/total)*total
medical_pt

1622.021695217608

In [208]:
# Your code here: Compute Expected frequency of being "Other" and "FT". Store the solution in a variable named "other_ft"
other_total=frequencies['total'].iloc[4]
other_ft=(ft_total/total)*(other_total/total)*total
other_ft

17794.430966184842

In [209]:
# Your code here: Compute Expected frequency of being "Other" and "PT". Store the solution in a variable named "other_pt"
other_pt=(pt_total/total)*(other_total/total)*total
other_pt

12576.569033815158

In [214]:
# Your code here: Compute Expected frequency of being "Policement" and "FT". Store the solution in a variable named "policemen_ft"
policemen_total=frequencies['total'].iloc[3]
policemen_ft=(ft_total/total)*(policemen_ft_total/total)*total
policemen_ft

1113.7997848841785

In [215]:
# Your code here: Compute Expected frequency of being "Policement" and "PT". Store the solution in a variable named "policemen_pt"
policemen_pt=(pt_total/total)*(policemen_total/total)*total
policemen_pt

787.2002151158215

* Store all the expected frequencies of "FT" employees in a list 
* Store all the "PT" employees into another list
* Create a dictionary with "FT" and "PT" as keys and as the values use the previous lists
* Create a dataframe with this dictionary using pd.DataFrame()

In [220]:
# Your code here:
list_ft=[firemen_ft,lawyers_ft,medical_ft,other_ft,policemen_ft]
list_pt=[firemen_pt,lawyers_pt,medical_pt,other_pt,policemen_pt]
dict_all = {'FT':list_ft,'PT':list_pt}
df = pd.DataFrame(dict_all)
df

             FT            PT
0    885.297988    625.702012
1    245.492956    173.507044
2   2294.978305   1622.021695
3  17794.430966  12576.569034
4   1113.799785    787.200215

Now use the "st.chi2_contingency()" from scipy.stats [documentation here](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html) to conduct a Chi2 test to determine if the diferences between employee groups are statistically significant using a 95% confidence level. Hint: fill the function with a dataframe of actual frequencies.

In [259]:
# Your code here: (use the st.chi2_contingency() function from scipy.stats to compute:
# The Chi2 value
# The p-value
# The expected frequencies.
# Ho: there is no relationship
# Ha: there is relationship differences
# p_value = P(table | Ho) = P(table | no relationship) = 1.51e-6 < 0.05
import scipy.stats as st
data_crosstab = pd.crosstab(data['employee_group'], data['Status'], margins = False)
st.chi2_contingency(data_crosstab)

(2676.642333711905,
 0.0,
 4,
 array([[  885.29798788,   625.70201212],
        [  245.49295627,   173.50704373],
        [ 2294.97830478,  1622.02169522],
        [ 1113.79978488,   787.20021512],
        [17794.43096618, 12576.56903382]]))

In [265]:
# Use the p-value to determine if you accept or reject the null hypotheses.
# p_value < 0.05 -> reject Ha -> there is relationship differences

Check if your expected frequencies aggree with the ones obtained with the st.chi2_contingency() function